<div class="store_details_container">
  <mat-tab-group
    class="navigation"
    headerPosition="below"
    (selectedTabChange)="onTabChange($event)"
  >
    <mat-tab label="Geral" class="tab">
      <div class="content">
        <div class="general_header">
          <img
            src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
            alt=""
          />
          <h1>NOME DA LOJA</h1>
          <div class="categories">
            <span class="category">CATEGORIA 1</span>
            <span class="category">CATEGORIA 2</span>
          </div>
        </div>
        <div class="general_body">
          <p>
            optio corporis et optio corporis et ssumenda culpa! Est nesciunt
            officioptio corporis et a est vitae temporibus eos autem
            perspicoptio corporis et iatis et omnis aliquam et optio corporis et
            voluptates odit. Ut adipisci odit ut molestiae eius sit quia
            commodi.<br />
            ssumenda culpa! Est nesciunt officia est vitae temporibus eos
            auoptio corporis et tem perspiciatis et omnis aliquam et optioptio
            corporis et o corporis et voluptates odit. Ut adipisci odit ut
            molestiae eius sit quia commodi.
          </p>
          <div class="classifications">
            <div class="classification">
              <span>Custo:</span>
              <div class="icons">
                <mat-icon svgIcon="money-bag" aria-label="Money Bag Icon" />
                <mat-icon svgIcon="money-bag" aria-label="Money Bag Icon" />
                <mat-icon svgIcon="money-bag" aria-label="Money Bag Icon" />
                <mat-icon svgIcon="money-bag" aria-label="Money Bag Icon" />
                <mat-icon svgIcon="money-bag" aria-label="Money Bag Icon" />
              </div>
            </div>
            <div class="classification review">
              <span>Avaliação:</span>
              <div class="icons">
                <mat-icon svgIcon="review-star" aria-label="Review Star Icon" />
                <mat-icon svgIcon="review-star" aria-label="Review Star Icon" />
                <mat-icon svgIcon="review-star" aria-label="Review Star Icon" />
                <mat-icon svgIcon="review-star" aria-label="Review Star Icon" />
                <mat-icon svgIcon="review-star" aria-label="Review Star Icon" />
              </div>
            </div>
            <div class="classification distance">
              <span>Distancia:</span>
              <div class="icons">
                <mat-icon
                  svgIcon="distance-foot"
                  aria-label="Distance Foot Icon"
                />
                <mat-icon
                  svgIcon="distance-foot"
                  aria-label="Distance Foot Icon"
                />
                <mat-icon
                  svgIcon="distance-foot"
                  aria-label="Distance Foot Icon"
                />
                <mat-icon
                  svgIcon="distance-foot"
                  aria-label="Distance Foot Icon"
                />
                <mat-icon
                  svgIcon="distance-foot"
                  aria-label="Distance Foot Icon"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Mapa"></mat-tab>
    <mat-tab label="Avaliações">
      <div class="content">
        <div class="review_header">
          <img
            src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
            alt=""
          />
          <canvas id="canvas"></canvas>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
