.store_details_container {
  width: 76vw;
  height: 81.8vh;
  background-color: #fff3fa;
  border-radius: 3.2rem;
  position: relative;
  overflow: hidden;
}
.navigation{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.general_header > h1 {
  color: #c78ca0;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.general_header > img {
  width: 27vw;
  height: 41vh;
  border-radius: 2.9rem;
}