<div class="store_details_container">
  <!--| dynamicHeight => Desabilita overflow-->
  <mat-tab-group
    dynamicHeight
    class="navigation"
    headerPosition="below"
    (selectedTabChange)="onTabChange($event)"
  >
    <mat-tab label="Geral" class="tab">
      <div class="content">
        <div class="general_header">
          @if(storeInfo.image == null){
            <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="" class="logo">
          }@else {
            <img src="{{ storeInfo.imagem }}" alt="" class="logo" />
          }
          <!--| PLACEHOLDER IMAGE: https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png-->
          <h1>{{ storeName }}</h1>
          <div class="categories">
            @for (category of storeInfo.categoria; track $index) {
            <span class="category">{{ category }}</span>
            }
          </div>
        </div>
        <div class="general_body">
          <div class="description">
            <h2>Descrição:</h2>
            <p>{{ storeInfo.description }}</p>
          </div>
          <div class="classifications">
            <div class="classification">
              <span>Custo:</span>
              <div class="icons">
                <mat-icon svgIcon="money-bag" aria-label="Money Bag Icon" />
                <mat-icon svgIcon="money-bag" aria-label="Money Bag Icon" />
                <mat-icon svgIcon="money-bag" aria-label="Money Bag Icon" />
                <mat-icon svgIcon="money-bag" aria-label="Money Bag Icon" />
                <mat-icon svgIcon="money-bag" aria-label="Money Bag Icon" />
              </div>
            </div>
            <div class="classification review">
              <span>Avaliação:</span>
              <div class="icons">
                <mat-icon svgIcon="review-star" aria-label="Review Star Icon" />
                <mat-icon svgIcon="review-star" aria-label="Review Star Icon" />
                <mat-icon svgIcon="review-star" aria-label="Review Star Icon" />
                <mat-icon svgIcon="review-star" aria-label="Review Star Icon" />
                <mat-icon svgIcon="review-star" aria-label="Review Star Icon" />
              </div>
            </div>
            <div class="classification distance">
              <span>Distancia:</span>
              <div class="icons">
                <mat-icon
                  svgIcon="distance-foot"
                  aria-label="Distance Foot Icon"
                />
                <mat-icon
                  svgIcon="distance-foot"
                  aria-label="Distance Foot Icon"
                />
                <mat-icon
                  svgIcon="distance-foot"
                  aria-label="Distance Foot Icon"
                />
                <mat-icon
                  svgIcon="distance-foot"
                  aria-label="Distance Foot Icon"
                />
                <mat-icon
                  svgIcon="distance-foot"
                  aria-label="Distance Foot Icon"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Mapa">
      <div class="content_map">
        <div class="maps_header">
          @if(storeInfo.image == null){
            <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="" class="logo">
          }@else {
            <img src="{{ storeInfo.imagem }}" alt="" class="logo" />
          }
          <div class="local_info">
            
            <span style="grid-area: a"
              ><mat-icon svgIcon="telephone-icon" />{{storeInfo.telefone}}</span
            >
            <span style="grid-area: b"
              ><mat-icon svgIcon="city-icon" />{{storeInfo.cidade}}</span
            >
            <span style="grid-area: c"
              ><mat-icon svgIcon="location-icon" />
              {{storeInfo.rua}}, {{storeInfo.numero}} - {{storeInfo.bairro}}
            </span>
            <span style="grid-area: d"
              ><mat-icon svgIcon="globe-icon" />{{storeInfo.email}}</span
            >
          </div>
        </div>
        <div class="maps_body">
          <h2>Localização:</h2>
          <google-map width="100%" [options]="mapOptions">
            <map-advanced-marker #markerElem="mapAdvancedMarker" [position]="center"/>
          </google-map>
        </div>
      </div>
    </mat-tab>
    <!--! Conteudo dentro da tab é placeholder para n bugar animação-->
    <mat-tab label="Avaliações">
      <div class="content">
        <div class="review_header">
          @if(storeInfo.image == null){
            <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt="" class="logo">
          }@else {
            <img src="{{ storeInfo.imagem }}" alt="" class="logo" />
          }
          <!-- <canvas id="canvas"></canvas> -->
          <div id="canvas"></div>
        </div>
        <div class="review_body">
          <h2 style="color: var(--rosa5)">Comentarios:</h2>
          <br />
          @if(storeInfo.avaliacoes.length > 0){
            @for (review of storeInfo.avaliacoes; track $index) {
              <review-card [review]="review" />
            }
          }@else {
            <span>Nenhum comentario feito ainda...</span>
          }
          
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
