.mae {
  background-color: crimson;
}

.mae {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  width: 100vw;
}


.perfil-container {
  background-color: darkviolet;
  display: flex;

  justify-content: center;
  width: 60%;
  border-bottom: 1px solid var(--rosa4);
 

  .perfil {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: 900px;

    padding: 20px;
    border-radius: 10px;

    .infos {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      margin-right: 20px;
      float: left;
      background-color: cyan;
    }

    .nome-botoes {
 
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      width: 100%;
      margin-bottom: 25px;

      .nome {
      
        margin-right: 20px;
        font-size: 1.5rem;
      }

      .botoes {
        display: flex;
        flex-direction: row;
        gap: 20px;
   
        button {
          background-color: var(--rosa4);
          border: none;
          padding: 10px;
          border-radius: 9px;
          width: 150px;
          font-weight: 600;
          cursor: pointer;
        }

        button:hover {
          background-color: var(--rosa5);

        }
      }
    }


    .avaliacoes {
      display: flex;
      align-items: center;
      align-content: center;
      gap: 10px;
      margin-top: 25px;
      font-weight: 500;
      font-size: 1.2rem;
      font-family: var(--fonteteste);
    }

    .bio {
      margin-top: 10px;
      font-size: 1.2rem;
      font-family: var(--fontegeral);
    }

  }

}

.postagens-container {

  height: 85%;
  width: 60%;
}


@media (max-width: 770px) {

  .mae {
    padding: 0px;
  }

  .perfil-container {
    width: 100%;
    background-color: darkgrey;
    display: flex;
    justify-content: center;



    .perfil {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }

    .botoes {
      display: none;
    }



    .img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      align-self: center;

      outline: 1px solid var(--rosa5);
      outline-offset: 2px;
    }


    .bio {
      font-size: 1rem;
    }

    .avaliacoes {
      font-size: 1rem;
      font-weight: 700;
      display: flex;
      gap: 5px;
      align-self: center;
      align-items: center;
      padding: 10px;

    }

    .material-symbols--kid-star {
      width: 1rem;
      height: 1rem;
    }
  }


  .menu-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    background-color: #f1f1f1; /* Cor de fundo */
    padding: 10px 0;
     
  }
  
  .menu-container ul {
    display: flex;
    justify-content: space-around; /* Espaça os botões igualmente */
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  
  .menu-container li {
    flex: 1; /* Cada botão ocupa o mesmo espaço */
    text-align: center;
  }
  
  .menu-container li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
  }
  
  .menu-container li a:hover {
    background-color: #ddd; /* Efeito hover */
  }
  


}


