.mae {
  display: flex;
  padding: 20px;
}

.navbar {
  width: 200px; /* Ajuste conforme necessário */
  background-color: #f0f0f0;
  height: 100vh; /* A navbar ocupará a altura total da página */
  position: fixed; /* Fixar a navbar à esquerda */
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
}

.perfil-container {
  margin-left: 220px; /* Para dar espaço para a navbar */
  display: flex;
  justify-content: center;
  width: calc(100% - 220px); /* Deixe o perfil ocupar o restante da largura */
}

.perfil {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}

.infos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
}

.nome-botoes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}

.nome {
  margin-right: 20px;
  font-size: 24px;
}

.botoes {
  display: flex;
  gap: 10px;
}

.avaliacoes {
  margin-top: 25px;
}

.bio {
  margin-top: 10px;
}
