<div class="mae">
  <div class="navbar">
    <span class="solar--cat-bold"></span>

    <li>

      <ul>
       <a href="/"> <span class="material-symbols--family-home-rounded" ></span>Home</a>
      </ul>
      <ul>
        <a href="#"><span class="material-symbols--search-rounded"></span>Buscar</a>
      </ul>
      <ul><a href="/perfil"> <span class="solar--heart-bold"></span> Perfil</a> </ul>
    </li>

    <span class="material-symbols--settings-heart"></span>
  </div>

  <div class="perfil-container">
    <div class="perfil">
      <div class="img">
        <img src="bolsonaro.jpg" alt="bolsonaro" class="img">
      </div>
      <div class="infos">
        <div class="nome-botoes">
          <div class="nome">
            <h1>Bolsonaro Bilau</h1>
          </div>
          <div class="botoes">
            <button>Editar Perfil</button>
            <button>Sair</button>
          </div>
        </div>
        <div class="avaliacoes"><span class="material-symbols--kid-star"></span>
          <span>3 avaliações</span>
        </div>
        <div class="bio">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic odit aliquid, quas minus sed blanditiis
            ducimus dicta doloribus, placeat quo esse nesciunt, repellendus pariatur libero possimus excepturi earum
            dolorem molestias.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="postagens-container">

  </div>
</div>