<section>
  <header>
    <h2>Cadastrando empresa</h2>
    <div class="icons-container">
      @for(step of steps; track $index){
      <div class="step-item">
        <span class="progress-icon">{{ $index + 1 }}</span>
      </div>
      }
    </div>
  </header>
  <!-- <div [ngTemplateOutlet]="selected ? selected.content : null"></div> -->
  <div *ngFor="let step of steps; let i = index" [hidden]="i !== selectedIndex">
    <ng-container [ngTemplateOutlet]="step.content"></ng-container>
  </div>
  <footer>
    @if(selectedIndex != 0){
    <button cdkStepperPrevious>Voltar</button>
    }
    <button cdkStepperNext (click)="checkIfSubmit($event)" class="submit-button">
    {{ selectedIndex == steps.length-1 ? "Send" : "Next" }}
    </button>
  </footer>
</section>
