<div class="register-content">
  <custom-stepper
    #stepper
    [linear]="true"
    cdkStepperMulti
    (selectionChange)="onStepChange($event)"
    (submitEvent)="onSubmit($event)"
  >
    <cdk-step>
      <form
        class="initialForms step-content"
        [formGroup]="registerForm"
        [@stepAnimation]="stepper.selectedIndex === 0 ? 'current' : 'inactive'"
        (submit)="onSubmit()"
      >
        <div class="formsContent">
          <div>
            <label for="">CNPJ: </label>
            <input
              class="bar"
              type="text"
              placeholder="00.000.000/0000-00"
              id="cnpj"
              (focusout)="checkCNPJ()"
            />
          </div>
          <div>
            <label for="">Nome: </label>
            <input
              class="bar"
              type="text"
              formControlName="nome"
              id="name"
              placeholder="Rodrigo Lanches"
            />
          </div>
          <div>
            <label for="">Email: </label>
            <input
              class="bar"
              id="email"
              type="email"
              formControlName="email"
              placeholder="exemplo@email.com"
            />
          </div>
          <div>
            <label for="">Telefone: </label>
            <input
              class="bar"
              type="text"
              placeholder="(00)99999-9999"
              formControlName="telefone"
              id="phone"
            />
          </div>
          <div>
            <label for="">Senha: </label>
            <input
              class="bar"
              type="password"
              placeholder="Password..."
              formControlName="senha"
              id="password"
            />
          </div>
          <div>
            <label for="">Imagem: </label>
            <input type="file" class="bar" (change)="saveImage($event)">
          </div>
        </div>
      </form>
    </cdk-step>
    <cdk-step>
      <form
        class="addressForms .step-content"
        [formGroup]="registerForm"
        [@stepAnimation]="stepper.selectedIndex === 1 ? 'current' : 'inactive'"
        (submit)="onSubmit()"
      >
        <div class="formsContent" formGroupName="endereco">
          <div>
            <label for="">CEP: </label>
            <input
              class="bar"
              type="text"
              placeholder="0000-000"
              id="cep"
              formControlName="cep"
            />
          </div>

          <div>
            <label for="">Rua: </label>
            <input
              class="bar"
              type="text"
              formControlName="rua"
              id="street"
              placeholder="Av. Sem criatividade"
            />
          </div>
          <div>
            <label for="">Bairro: </label>
            <input
              class="bar"
              id="neighborhood"
              type="text"
              placeholder="Rogerio Kuquecheque"
            />
          </div>
          <div>
            <label for="">Número: </label>
            <input class="bar" id="houseNumber" type="text" placeholder="00" 
            formControlName="numero"
            />
          </div>
          <div>
            <label for="">Cidade: </label>
            <input class="bar" id="city" type="text" placeholder="São Paulo" 
            formControlName="cidade"/>
          </div>
          <div>
            <label for="">Estado: </label>
            <input class="bar" id="state" type="text" placeholder="SP"
            formControlName="estado" />
          </div>
        </div>
      </form>
    </cdk-step>
    <cdk-step>
      <form
        class=""
        [formGroup]="registerForm"
        [@stepAnimation]="stepper.selectedIndex === 2 ? 'current' : 'inactive'"
      >
        <h3>Selecione as categorias do restaurante</h3>
        <div class="checkbox-formsContent">
          <select name="" id="" formControlName="categoria">
            <option value="Fast Food">Fast Food</option>
            <option value="Italiana">Italiana</option>
            <option value="Japonesa">Japonesa</option>
            <option value="Brasileira">Brasileira</option>
            <option value="Outros">Outros</option>
          </select>
        </div>
      </form>
    </cdk-step>
  </custom-stepper>

  <div class="gradient-bg">
    <svg xmlns="http://www.w3.org/2000/svg">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
          <feColorMatrix
            in="blur"
            mode="matrix"
            values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8"
            result="goo"
          />
          <feBlend in="SourceGraphic" in2="goo" />
        </filter>
      </defs>
    </svg>

    <div class="gradients-container">
      <div class="g1"></div>
      <div class="g2"></div>
      <div class="g3"></div>
      <div class="g4"></div>
      <div class="g6"></div>
      <div class="g7"></div>
      <div class="interactive"></div>
    </div>
  </div>
</div>
