.card_container{
    display: flex;

    flex-direction: row;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

   
/*flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 36vh;
    width: 10vw;*/

    .image_container{
        display: flex;
        align-items: center;
        height: 90%;
        width: 100%;
        border-radius: 10px ;
        background-color: #fff3fa;
        border: 2px solid #C78CA0;
        box-shadow: 2px 2px 7px #a77485;


        img{
            width:100%;
            border-radius: 10px ;
        }
    }

    .review{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        
        .mat-icon {
            width: 13%;
        }

        p{
            margin-left: 10px;
            font-size: 1.2em;
            color: #C78CA0;
        } 
    }


@media (max-width: 468px) {
    .card_container{
        height: 25vh;
        width: 15vw;
    
        .image_container{
            height: 90%;
            width: 100%;
    
            img{
                width:100%;
            }
        }
    
        .review{
            margin-top: 2px;
            
            .mat-icon {
                width: 13%;
            }
    
            p{
                margin-left:5px;
                font-size: 0.8em;
            } 
        }
    }
}

@media (min-width:480px) and (max-width: 768px) {
    .card_container{
        height: 28vh;
        width: 13vw;
    
        .image_container{
            height: 90%;
            width: 100%;
    
            img{
                width:100%;
            }
        }
    
        .review{
            margin-top: 3px;
            
            .mat-icon {
                width: 13%;
            }
    
            p{
                margin-left:5px;
                font-size: 0.8em;
            } 
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .card_container{
        height: 28vh;
        width: 13vw;
    
        .image_container{
            height: 90%;
            width: 100%;
    
            img{
                width:100%;
            }
        }
    
        .review{
            margin-top: 5px;
            
            .mat-icon {
                width: 13%;
            }
    
            p{
                margin-left:5px;
                font-size: 0.9em;
            } 
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .card_container{
        height: 35vh;
        width: 10vw;
    
        .image_container{
            height: 90%;
            width: 100%;
    
            img{
                width:100%;
            }
        }
    
        .review{
            margin-top: 5px;
            
            .mat-icon {
                width: 13%;
            }
    
            p{
                margin-left:5px;
                font-size: 1.2em;
            } 
        }
    }
}

@media (min-width: 1200px) {
    .card_container{
        height: 38vh;
        width: 10vw;
    
        .image_container{
            height: 90%;
            width: 100%;
    
            img{
                width:100%;
            }
        }
    
        .review{
            margin-top: 5px;
            
            .mat-icon {
                width: 13%;
            }
    
            p{
                margin-left:5px;
                font-size: 1.2em;
            } 
        }
    }
}