<div class="card_container">
    <div class="image_container">
        <img [src]="restaurant.imageUrl" alt="{{restaurant.name}}">
    </div>
        <div class="review">
            <mat-icon svgIcon="review-star" aria-label="Review Star Icon" />
            <mat-icon svgIcon="review-star" aria-label="Review Star Icon" />
            <mat-icon svgIcon="review-star" aria-label="Review Star Icon" />
            <mat-icon svgIcon="review-star" aria-label="Review Star Icon" />
            <mat-icon svgIcon="review-star" aria-label="Review Star Icon" />
            <p>10</p>
        </div>
</div>