<div class="main">
<div class="container1">
  <div class="container">
    <div id="n1"> 
      <button>EDITAR</button>
      <button>SAIR</button>
    </div>

    <div class="item" id="n2">
       <div class="subitem" id="foto">
        <h2> <span>Nome bla</span></h2>
        <img src="profile.png" alt="imagem">
       </div>  

       <div class="subitem" id="bio">
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi architecto earum neque facere, ab sed atque eius. Ipsum voluptatum alias, et nostrum, dolores porro velit quam adipisci quibusdam totam asperiores.</p>
       </div>

    </div>



  </div>
</div>


</div>