/* Estilização do background */
/* NÃO MEXER, CUIDADO */
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
 

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    display: none;
  }


  .gradients-container {
    filter: url(#goo) blur(3rem);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 25rem);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 12.5rem);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 25rem);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 12.5rem);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 50rem) calc(50% + 12.5rem);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}

/* FIM DO ESTILO DO BACKGROUND */

/* ESTILIZAÇÃO DO CARTÃO DE FORMULARIO  */

/* configuração do forms: (não mexer) */
.text-container {
  z-index: 100;
  width: 100vw;
  height: 100vh;

  display: flex;
  position: absolute;
  
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  font-size: 2.5rem;
 
  opacity: 0.8;
  user-select: none;
  text-shadow: 0.063rem 0.063rem rgba(0, 0, 0, 0.1);
}

/* Boca,frase */
.detalhes{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.frase{
  font-family: var(--fontefrases);
  font-weight: 500;
  font-size: 25px;
}

/*  Quadradinho preto transparente do form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly;
  gap: 1.6em;

  background-color: rgb(255, 255, 255);
  height: 70%;
  width: 25%;
  border-radius: 1.25rem;
  box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}
.form > * + * {
  margin-top: 1em;
}

/* Estilização dos inputs */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-evenly;
  gap: 6px;
  width: 80%;  
  height: 6%;
  box-sizing: border-box;
}

label {
  margin-bottom: 5px; /* Espaço entre o label e o input */
  font-size: 1.3rem;
}
.bar {
  box-sizing: border-box;
  width: 100%;
  height: 3.125rem;
  padding: 1rem;
  font-size: 1.3rem;
  border: 0.14rem solid #ccc;
  border-radius: 0.5rem;
  color: black;
}

.bar:focus {
  outline: none;
  border-color: rgba(186,225,255, 1);
  background-color: rgb(251,247,245);
}

.resetar-senha{
  width: 300px;
  height: 20px;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.resetar-senha:hover{
 text-decoration: underline;
}
/* Estilização dos botões */
/* Div mãe */
.botoes{
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1px;
  margin-bottom: 40px;
  box-sizing: content-box;

}


/* Div do botão entrar */
.botao {
  box-sizing: border-box;
  background-color: rgb(236,186,208);
  color: rgb(0, 0, 0);
  font-family: var(--fontegabi);

}
.botao:hover{
  background-color: rgb(199,140,160);

}
/* A especie botão (estilo igual deles) */
button{
  width: 100%;
  height: 25%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem; /* ajuste o padding conforme necessário */
  background-color: #ffff; /* cor de fundo do botão */
  color: #000;
  border: 0.06rem solid #ccc;
  border-radius: 1.6rem;
  cursor: pointer;
  font-size: 1.3rem;

}
/* Botão google */
.botao-google{
  justify-content: flex-start;
  font-family: var(--fontegoogle);
  font-size: 0.9rem;
}
.botao-google:hover{
   background-color: #F8FAFF;
   border: 0.06rem solid #afb8ff;
}
.botao-google span + * {
  margin: auto; /* Centraliza o conteúdo de texto */
}

/* SVG do Icone do google */
.logos--google-icon {
  margin-right: 0.5rem; /* espaço entre o ícone e o texto */
  display: inline-flex;
  width: 1.3em;
  height: 1.3em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 262'%3E%3Cpath fill='%234285f4' d='M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622l38.755 30.023l2.685.268c24.659-22.774 38.875-56.282 38.875-96.027'/%3E%3Cpath fill='%2334a853' d='M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055c-34.523 0-63.824-22.773-74.269-54.25l-1.531.13l-40.298 31.187l-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1'/%3E%3Cpath fill='%23fbbc05' d='M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82c0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602z'/%3E%3Cpath fill='%23eb4335' d='M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0C79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251'/%3E%3C/svg%3E");
}

/* svg boquinha */
.noto--biting-lip {
  display: inline-block;
  width:  70px;
  height: 70px ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23ef4d8f' d='M81.86 35.45c-9.09-1.02-14.68 2.81-16.34 3.73c-.56.31-.96.49-1.31.58c-.34-.09-.75-.27-1.31-.58c-1.66-.92-7.28-4.97-16.34-3.73C28.75 37.89 12.02 56.1 4.89 67.2a5.606 5.606 0 0 0 1.66 7.72c3.19 2.07 9.82 3.33 15.71 5.22c17.92 5.75 48.15 24.1 68.89 19.54c23.71-5.21 27.54-22.7 30.72-24.76c0 0 3.33-5.12 1.66-7.72c-7.12-11.1-22.26-29.58-41.67-31.75'/%3E%3Cpath fill='%23c51162' d='M73.46 74.29c-3.12-.67-15.69-1.37-31.05.09c-6.59.63-14.4.38-16.02-1.73s.14-3.49 6.74-4.85c20.31-4.18 39.79 6.38 40.33 6.49'/%3E%3Cpath fill='%233e2723' d='M40.93 65.04c-11.02 4.88-26.38 5.21-26.04 3.8c.28-1.16 7.38-1.39 15.22-4.86c8.77-3.89 19.74-8.75 34.01-8.75c14.61 0 26.25 5.87 35.07 9.81c4.2 1.88 8.44 3.11 11.36 3.83c1.25.31 1.44 2 .3 2.59l-14.09 7.22s-7.41 3.26-13.88 0s-35.03-16.7-41.95-13.64'/%3E%3Cpath fill='%23bdbdbd' d='m101.27 65.93l-.01-.01c-.69-.28-1.39-.56-2.08-.87c-8.82-3.94-20.46-9.81-35.07-9.81c-14.27 0-25.24 4.86-34.01 8.75c-.46.2-.9.4-1.35.6c0 0 2.29 8.21 35.99 8.21s36.53-6.87 36.53-6.87'/%3E%3Cpath fill='%23fff' d='m101.27 65.93l-.01-.01c-.69-.28-22.54-7.11-37.15-7.11c-14.27 0-34.91 5.57-35.36 5.77c0 0 2.29 8.21 35.99 8.21s36.53-6.86 36.53-6.86'/%3E%3Cpath fill='%23ff80ab' d='M79.85 83.27c2.51.88 6.65 2.03 10.29 2.18c1.35.06 4.51-.16 4.37 1.88c-.22 3.09-10.81 7.1-19.25 4.48c-8.57-2.66-14.4-9.04-11.26-10.36c3.11-1.31 10.22-.16 15.85 1.82'/%3E%3C/svg%3E");
}