<div class="text-container">

  @if(formType === 'login'){
  <form action="get" id="myForm" [formGroup] ="loginForm" (ngSubmit)="onSubmit()" >
    <div class="detalhes">
      <mat-icon svgIcon="solar--cat-bold" aria-label="Solar Cat Bold" class="icones" />
      <h1 class="frase">Bem-Vindo(a) ao Letter Food </h1>
    </div>
    <div class="infos">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" placeholder="example@gmail.com.br" id="email" class="bar"
        formControlName="nome"
        >
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" placeholder="senha" id="senha" class="bar"
        formControlName="senha"
        >
        <span class="links" id="remakepass" (click)="toggleForm('recover-password')">Esqueceu a senha?</span>
      </div>
    </div>
    <div class="botoes">
      <button id="button" class="botao"> <span>Log In</span></button>
      <button class="botao-google">
        <mat-icon svgIcon="logos--google-icon" aria-label="googleicon" />
        <span> Continuar com o Google</span>
      </button>
      <span class="registrar">Não tem conta? <span class="links"
          (click)="toggleForm('registerForm')">Registrar</span></span>
    </div>
  </form>
  }





  @else if(formType === 'registerForm'){
  <form   id="registerForm" [formGroup] ="registerForm" (ngSubmit)="onSubmit()">
    <div class="detalhes">
      <mat-icon svgIcon="solar--cat-bold" aria-label="Solar Cat Bold" class="icones" />
      <h1 class="frase">Bem-Vindo(a) ao Letter Food </h1>
    </div>
    <div class="infos">
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text"id="name" class="bar"
        formControlName="nome"
        placeholder="Fulano de tal" >
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" placeholder="example@gmail.com.br" id="email" class="bar"
        formControlName="email"
        >
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" placeholder="senha" id="senha" class="bar"
        formControlName="senha">
      </div>
    </div>
    <div class="botoes">
      <button id="button" class="botao"> <span>Entrar</span></button>
      <button class="botao-google">
        <mat-icon svgIcon="logos--google-icon" aria-label="googleicon"/>
        <span> Continuar com o Google</span>
      </button>
      <span class="registrar" id="register">Já tem conta? <span class="links" (click)="toggleForm('login')">
          Login</span>
      </span>
    </div>
  </form>
  }




  @else{
  <form id="recover-password" [ngClass]="{'recover-password-form': formType === 'recover-password'}"
  [formGroup] ="recoverPassForm" (ngSubmit)="onSubmit()"
  
  
  >
    <div class="detalhes">
      <mat-icon svgIcon="solar--cat-bold" aria-label="Solar Cat Bold" class="icones" />
      <h1 class="frase">Recuperando a senha</h1>
    </div>
    <div class="infos">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" placeholder="example@gmail.com.br" id="email" class="bar">
        <p> Este e-mail será usado para login e recuperação de senha.
          Confira seu email para recuperar a senha.
        </p>
      </div>
    </div>
  <div class="botoes">
      <button id="button" class="botao"> <span>Enviar Código</span></button>
      <span class="registrar" id="register"> <span class="links" (click)="toggleForm('login')">Voltar para o Login</span>
      </span>
    </div>
  </form>
  }


</div>


<div class="gradient-bg">
  <svg xmlns="http://www.w3.org/2000/svg">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
        <feBlend in="SourceGraphic" in2="goo" />
      </filter>
    </defs>
  </svg>

  <div class="gradients-container">

    <div class="g1"></div>
    <div class="g2"></div>
    <div class="g3"></div>
    <div class="g4"></div>
    <div class="g6"></div>
    <div class="g7"></div>
    <div class="interactive"></div>
  </div>
</div>