/* Estilização do background */
/* NÃO MEXER, CUIDADO */
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
@keyframes moveDiagonal {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(20px, -20px) rotate(180deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}
 
.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    display: none;
  }


  .gradients-container {
    filter: url(#goo) blur(3rem);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 25rem);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 12.5rem);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 25rem);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 12.5rem);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 50rem) calc(50% + 12.5rem);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }
  .g6 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color6), 0.8) 0, rgba(var(--color6), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
  
    width: calc(var(--circle-size) * 1.5);
    height: calc(var(--circle-size) * 1.5);
    top: calc(25% - var(--circle-size) / 2);
    left: calc(90% - var(--circle-size) / 2);
  
    transform-origin: calc(50% - 20rem) calc(50% - 10rem);
    animation: moveDiagonal 35s ease-in-out infinite;
  
    opacity: 0.85;
  }
  
  .g7 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color7), 0.8) 0, rgba(var(--color7), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);
  
    width: calc(var(--circle-size) * 1.2);
    height: calc(var(--circle-size) * 1.2);
    top: calc(10% - var(--circle-size) / 2);
    left: calc(80% - var(--circle-size) / 2);
  
    transform-origin: calc(50% + 30rem) calc(50% - 15rem);
    animation: moveVertical 25s linear infinite reverse;
  
    opacity: 0.9;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}
/* FIM DO ESTILO DO BACKGROUND */


.text-container {
  z-index: 100;
  width: 100vw;
  height: 100vh;

  display: flex;
  position: absolute;
  
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  font-size: 2.5rem;
 
  opacity: 0.8;
  user-select: none;
  text-shadow: 0.063rem 0.063rem rgba(0, 0, 0, 0.1);
}

/* SVG do Icone do google */
.logos--google-icon {
  margin-right: 0.5rem; /* espaço entre o ícone e o texto */
  display: inline-flex;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 262'%3E%3Cpath fill='%234285f4' d='M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622l38.755 30.023l2.685.268c24.659-22.774 38.875-56.282 38.875-96.027'/%3E%3Cpath fill='%2334a853' d='M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055c-34.523 0-63.824-22.773-74.269-54.25l-1.531.13l-40.298 31.187l-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1'/%3E%3Cpath fill='%23fbbc05' d='M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82c0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602z'/%3E%3Cpath fill='%23eb4335' d='M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0C79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251'/%3E%3C/svg%3E");
}

/* svg  macaco */
.openmoji--monkey {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 72 72'%3E%3Cpath fill='%23a57939' d='M58.888 25.381a2 2 0 0 0-.08-.153A11.7 11.7 0 0 0 53.85 20.7c-.827-.404-1.7-.706-2.6-.9a15.85 15.85 0 0 1-6.2-2.8a3.16 3.16 0 0 1-1.3-2.2c-.2-1.8 1.4-2.5 4.1-2.1a7 7 0 0 1 4.7 3.2a4.95 4.95 0 0 0 1.9 1.9c1.307.594 1.908-.258 2.18-1.049a1.4 1.4 0 0 0-.486-1.58l-.822-.617a1.4 1.4 0 0 1-.137-.117l-2.97-2.89a4.2 4.2 0 0 0-1.54-.953l-1.513-.53a5.28 5.28 0 0 0-3.25-.077l-1.198.356c-.57.17-1.099.455-1.554.837l-.867.731c-.223.188-.382.44-.455.723l-.238.92a3.92 3.92 0 0 0 .581 3.224l.669.958a8.03 8.03 0 0 0 3.384 2.77L48.75 21.6l3.395 1.29a8.4 8.4 0 0 1 2.842 1.8l.556.537a4.7 4.7 0 0 1 1.253 2.083a2.81 2.81 0 0 1-.715 2.759c-.34.34-.801.53-1.282.53h-1.681q-.267 0-.517-.098l-3.448-1.365a14 14 0 0 0-2.264-.682l-1.312-.277a8.34 8.34 0 0 0-5.253.602l-.273.127a1.1 1.1 0 0 1-.422.105a1.417 1.417 0 0 1-1.466-1.665l.095-.528a1.13 1.13 0 0 0-.245-.922l-.324-.39a1.13 1.13 0 0 0-.868-.406h-1.57c-.26 0-.51.09-.712.253a1.796 1.796 0 0 1-2.434-.155l-.624-.656c-.152-.16-.34-.28-.547-.354a5.46 5.46 0 0 0-5.135.8l-.793.604a5.93 5.93 0 0 0-2.034 2.843l-.191.572a8.6 8.6 0 0 0-.367 3.87l.115.863q.021.16.078.31l1.292 3.415q.051.135.129.256l1.09 1.715c.587.922.706 2.065.323 3.088a4.6 4.6 0 0 1-.835 1.4l-1.631 1.868a20.6 20.6 0 0 1-6.184 4.815l-1.453.739q-1.288.654-2.636 1.172l-2.206.849a7 7 0 0 0-2.794 1.972a1.13 1.13 0 0 0 1.063 1.847l5.833-1.077l.104-.023L21.45 54.3l2.797-.632a9.24 9.24 0 0 0 5.45-3.594l.988-1.365a21 21 0 0 0 2.011-3.407a1.403 1.403 0 0 1 2.141-.502l1.378 1.093q.135.107.24.243l1.016 1.32c.549.714.701 1.656.406 2.506l-1.182 3.409a1.4 1.4 0 0 1-.114.247L35.56 55.37a1.4 1.4 0 0 1-.907.663l-2.76.613a5.8 5.8 0 0 0-2.097.93l-.347.246a1.403 1.403 0 0 0-.367 1.907l.125.193c.157.243.4.416.68.484l.754.184a14.6 14.6 0 0 0 5.864.217l.395-.065q.25-.042.5.007l3.11.61a7.15 7.15 0 0 0 3.44-.172l.796-.24a5.35 5.35 0 0 0 3.604-3.665l.612-2.157c.325-1.146.512-2.327.557-3.517l.06-1.603a3.56 3.56 0 0 1 1.699-2.9l1.457-.89a11.16 11.16 0 0 0 3.723-3.736l1.073-1.768a12.2 12.2 0 0 0 1.607-4.331l.04-.246a1.4 1.4 0 0 0-.109-.835a15 15 0 0 0-1.014-1.813c-.344-.525-.307-1.235.133-1.683c2.37-2.42.96-5.853.701-6.422ZM41.423 55.997l.92-2.146c.47-1.097 2.082-.903 2.278.275l.116.697a1.403 1.403 0 0 1-1.043 1.591l-1.58.395a.595.595 0 0 1-.691-.813'/%3E%3Cpath fill='%236a462f' d='M55.51 46.316c-.04.248.011.502.141.716l.592.979a7.75 7.75 0 0 0 4.28 3.371l2.625.835c.737.235 1.28.864 1.404 1.628l.074.457c.216 1.33.324 2.675.324 4.022v1.938a2.053 2.053 0 0 1-3 1.822a3.59 3.59 0 0 1-1.911-2.788l-.016-.144c-.113-1.014-.723-1.935-1.657-2.345l-.016-.007c-.2 0-7.1-3.7-7.1-3.7a7.2 7.2 0 0 1-1.06-1.94c-.65-1.806.107-3.82 1.765-4.788l1.958-1.142a1.07 1.07 0 0 1 1.596 1.086'/%3E%3Cpath fill='%23f4aa41' d='m26.352 31.328l2.662.248a2.21 2.21 0 0 1 1.842 1.366l.208.511a2.21 2.21 0 0 1-.086 1.854l-.674 1.297a2.2 2.2 0 0 0-.214.624l-.017.095a2.21 2.21 0 0 1-2.129 1.814l-1.386.03a2.21 2.21 0 0 1-2.134-1.487l-.341-.985a2 2 0 0 0-.075-.187l-.854-1.892a2.21 2.21 0 0 1 1.619-3.084l.979-.178q.299-.054.6-.026'/%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M55.85 16c-6.2-10.1-13.9-5.7-14.6-2.5c-.6 2.8.5 6.2 9.3 8.6a9.8 9.8 0 0 1 6.3 4.6a2.83 2.83 0 0 1-1.1 3.9a2.65 2.65 0 0 1-2.3.2c-4.7-1.6-9.4-5-15-.9'/%3E%3Cpath d='M35.25 35.7c5 .3 2.8-9.7 2.8-9.7c-.5-.8-2.3-1.8-4.6 1.2a4.5 4.5 0 0 0-1.2-2a4.72 4.72 0 0 0-6.2-.2a7.38 7.38 0 0 0-3.1 7.6'/%3E%3Cpath d='M24.05 36.6s-3-3.8.8-4.6s5.3 0 5.3 0s3 .8 0 4.6c0 0 1.1 3.4-2.7 3.4a3.05 3.05 0 0 1-3.395-2.66l-.005-.04c-.088-.211-.04-.469 0-.7m7.1 10.2l-3.3 6s-7.9 1.8-10.3 2.4c-1.8.5-5.4 1.6-7 2.2a2.83 2.83 0 0 1-2.2-.2c-1.1-.6-1.9-2.8 5.8-5.2c6.9-2.2 11.8-7.6 12.1-12m12.9-2.1s7.9 7.9 5.4 11.5c-1.8 2.7-4.5 7.6-5.9 10.1a2.82 2.82 0 0 1-2.5 1.5h-5.1c-2.6 0-2.9-4-.3-4.2h.5c1.1 0 4.1-.6 4.6-1.6l3.1-6.9s-2.9-4.3-6.1-4.9m25.7-7.3s3 6.7-9.1 12.1c.018 3.706-.419 7.4-1.3 11a1.893 1.893 0 0 1-2.2 1.4h-3.3'/%3E%3Cpath d='M52.25 53c1 3 6 4.2 8 4v2.8a2.35 2.35 0 0 0 2.396 2.3h.104a2.14 2.14 0 0 0 2.1-1.7a26.2 26.2 0 0 0-.7-7.4c-9.7-1.8-9.3-7.2-9.3-7.2m-12.9 11.3a4.72 4.72 0 0 0 3-1l-1-5'/%3E%3C/g%3E%3C/svg%3E");
}

/* svg gatinho */
.solar--cat-bold {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffb3ba' fill-rule='evenodd' d='M11.75 6.406c-1.48 0-1.628.157-2.394.157C8.718 6.563 6.802 5 5.845 5S3.77 5.563 3.77 7.188v1.875c.002.492.18 2 .88 1.597c-.827.978-.91 2.119-.899 3.223c-.223.064-.45.137-.671.212c-.684.234-1.41.532-1.737.744a.75.75 0 0 0 .814 1.26c.156-.101.721-.35 1.408-.585l.228-.075c.046.433.161.83.332 1.19l-.024.013c-.41.216-.79.465-1.032.623l-.113.074a.75.75 0 1 0 .814 1.26l.131-.086c.245-.16.559-.365.901-.545q.12-.064.231-.116C6.763 19.475 9.87 20 11.75 20s4.987-.525 6.717-2.148q.11.052.231.116c.342.18.656.385.901.545l.131.086a.75.75 0 0 0 .814-1.26l-.113-.074a13 13 0 0 0-1.032-.623l-.024-.013c.171-.36.286-.757.332-1.19l.228.075c.687.235 1.252.484 1.409.585a.75.75 0 0 0 .813-1.26c-.327-.212-1.053-.51-1.736-.744a16 16 0 0 0-.672-.213c.012-1.104-.072-2.244-.9-3.222c.7.403.88-1.105.881-1.598V7.188C19.73 5.563 18.613 5 17.655 5c-.957 0-2.873 1.563-3.51 1.563c-.767 0-.915-.157-2.395-.157m-.675 9.194c.202-.069.441-.1.675-.1s.473.031.676.1c.1.034.22.088.328.174a.62.62 0 0 1 .246.476c0 .23-.139.39-.246.476s-.229.14-.328.174c-.203.069-.442.1-.676.1s-.473-.031-.675-.1a1.1 1.1 0 0 1-.329-.174a.62.62 0 0 1-.246-.476c0-.23.139-.39.246-.476s.23-.14.329-.174m2.845-3.1c.137-.228.406-.5.81-.5s.674.272.81.5c.142.239.21.527.21.813s-.068.573-.21.811c-.136.229-.406.501-.81.501s-.673-.272-.81-.5a1.6 1.6 0 0 1-.21-.812c0-.286.068-.574.21-.812m-5.96 0c.137-.228.406-.5.81-.5s.674.272.81.5c.142.239.21.527.21.813s-.068.573-.21.811c-.136.229-.406.501-.81.501s-.673-.272-.81-.5a1.6 1.6 0 0 1-.21-.812c0-.286.068-.574.21-.812' clip-rule='evenodd'/%3E%3C/svg%3E");
}
/*  Não mexer com nada acima */


span{
  align-content: center;
  text-align: center;
}

form{
  box-shadow:  10px 15px 50px rgba(0, 0, 0, 0.4) ;
}

#myForm, #registerForm, .detalhes,.infos,.botoes{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}
#myform{
  margin-bottom: -10px;
  
}


#myForm, #registerForm{
  height: 65%;
  width: 30%;
  background-color: var(--white4);
  font-size: 20px;
  border-radius: 1em;
}

.detalhes, .botoes{
  /* border: 1px  solid #000; */
  height: 30%;
  width: 100%;
}

/* Cores background para ajudar na edição */
/* .botoes{
  background-color: brown;
}
.infos{
  background-color: coral;
}
.detalhes{
    background-color: crimson;
} */

/* Botões:  */
button{
  width: 60%;
  height: 3em;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1.5rem; /* ajuste o padding conforme necessário */
  background-color: #ffff; /* cor de fundo do botão */
  color: #000;
  border: 0.06rem solid #ccc;
  border-radius: 1.6rem;
  cursor: pointer;
  font-size: .93em;
  font-family: var(--fontegoogle);
}

button > span{
  font-weight: 400;
}
.botoes{
  padding: 20px;
  align-self: flex-end;
  align-content: space-between;
  gap: 20px;

}

.botao{
  background-color:  var(--pink);
 
  box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

.botao:hover{
 background-color: var(--pink-heavy) ;
 
  
}

.botao-google{
  justify-content: flex-start;
  font-family: 'GoogleSans-Regular';
  font-size: .7em;
 
}
.botao-google:hover{
   background-color: #F8FAFF;
   border: 0.06rem solid #afb8ff;
}
.botao-google span + * {
  margin: auto; /* Centraliza o conteúdo de texto */
}

/* Frase de Registrar / Login */

.registrar{
  font-family: var(--fontefrases);
  font-size: .9em;
  margin-bottom: 6px;
}

.links{
  cursor: pointer;
}
.links:hover{
  text-decoration: underline;
}

/*  configuração dos inputs:  */

.infos {
  height: 40%;                        /* Altura da div mãe */
  width: 100%;                        /* Largura total */
  /* border: 1px solid #000;            */
  align-self: center;                 /* Centraliza horizontalmente a div do meio */
  margin: auto;                       /* Centraliza verticalmente entre as divs superior e inferior */

  display: flex;                      /* Ativa o Flexbox */
  flex-direction: column;             /* Organiza as divs filhas em coluna */
  justify-content: space-between;     /* Espaço entre as divs filhas */
   
}

.form-group {
   
  width: 60%; 
  height: 50%;                       /* Largura das divs filhas */
                       /* Espaçamento interno, opcional */
      /* Cor de fundo das divs filhas */
  display: flex;    
  flex-direction: column;                 /* Ativa o Flexbox */
  justify-content: center;           /* Centraliza horizontalmente */
  align-items: flex-start;               /* Centraliza verticalmente */
  text-align: center; 
 
 
}

.bar{
  width: 100%;
  height: 44%;
  align-self: center;
  border-radius: .4em;
  padding: 6px;
  border: none;
  background-color: var(--white5);
  font-size: .7em;
  box-shadow:  0px 4px 8px rgba(0, 0, 0, 0.1);
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="name"]:focus {
    outline: none;               /* Remove o contorno padrão do navegador */
    border: 1px solid var(--pink);   /* Define a cor e a espessura da borda ao focar */
    box-shadow: 0 0 3px var(--pink); /* Adiciona um efeito de sombra ao redor da borda */
    background-color: var(--white4);
  }

 
#remakepass{
  padding-top: 10px;
  font-size: .85em;
}
label{
  font-size: .8em;
  padding-bottom: 2px;
}

/* Detalhes (Icone + frases) */
.detalhes{
  justify-content: center;           /* Centraliza horizontalmente */
  align-items: center;               /* Centraliza verticalmente */
  text-align: center; 
  gap: 5px;

}
.solar--cat-bold{
  width: 75px;
  height: 75px;

}
.frase{
  font-family: var(--fonteteste);
  font-size: 1.6em;

}


#registerForm > .infos > .form-group > .bar {
  height: 60%;
 
}

