/* Estilização do background */
/* NÃO MEXER, CUIDADO */
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes moveDiagonal {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  50% {
    transform: translate(20px, -20px) rotate(180deg);
  }

  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    display: none;
  }


  .gradients-container {
    filter: url(#goo) blur(3rem);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 25rem);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 12.5rem);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 25rem);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 12.5rem);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 50rem) calc(50% + 12.5rem);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .g6 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color6), 0.8) 0, rgba(var(--color6), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 1.5);
    height: calc(var(--circle-size) * 1.5);
    top: calc(25% - var(--circle-size) / 2);
    left: calc(90% - var(--circle-size) / 2);

    transform-origin: calc(50% - 20rem) calc(50% - 10rem);
    animation: moveDiagonal 35s ease-in-out infinite;

    opacity: 0.85;
  }

  .g7 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color7), 0.8) 0, rgba(var(--color7), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 1.2);
    height: calc(var(--circle-size) * 1.2);
    top: calc(10% - var(--circle-size) / 2);
    left: calc(80% - var(--circle-size) / 2);

    transform-origin: calc(50% + 30rem) calc(50% - 15rem);
    animation: moveVertical 25s linear infinite reverse;

    opacity: 0.9;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}

.navbar,header{
  display: hidden;
}

/* FIM DO ESTILO DO BACKGROUND */


.text-container {
  z-index: 100;
  width: 100vw;
  height: 100vh;

  display: flex;
  position: absolute;

  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  font-size: 2.5rem;

  opacity: 0.8;
  user-select: none;
  text-shadow: 0.063rem 0.063rem rgba(0, 0, 0, 0.1);
}


/*  Não mexer com nada acima */


span {
  align-content: center;
  text-align: center;
}

form {
  box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.4);
}

#myForm, #recover-password,
#registerForm,
.detalhes,
.infos,
.botoes {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}

#myform {
  margin-bottom: -10px;

}


#myForm,
#registerForm, #recover-password{
  height: 65%;
  width: 30%;
  background-color: var(--white4);
  font-size: 20px;
  border-radius: 1em;
}

.detalhes,
.botoes {
  /* border: 1px  solid #000; */
  height: 30%;
  width: 100%;
}
.icones{
  width: 4rem;
  height: 4rem;
}
/* Cores background para ajudar na edição */

/* .botoes{
  background-color: brown;
}
.infos{
  background-color: coral;
}
.detalhes{
    background-color: crimson;
} */

/* Botões:  */
button {
  width: 60%;
  height: 3em;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  /* ajuste o padding conforme necessário */
  background-color: #ffff;
  /* cor de fundo do botão */
  color: #000;
  border: 0.06rem solid #ccc;
  border-radius: 1.6rem;
  cursor: pointer;
  font-size: .93em;
  font-family: var(--fontegoogle);
}

button>span {
  font-weight: 400;
}

.botoes {
  padding: 20px;
  align-self: flex-end;
  align-content: space-between;
  gap: 20px;

}

.botao {
  background-color: var(--pink);

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
}

.botao:hover {
  background-color: var(--pink-heavy);


}

.botao-google {
  justify-content: flex-start;
  font-family: 'GoogleSans-Regular';
  font-size: .7em;

}

.botao-google:hover {
  background-color: #F8FAFF;
  border: 0.06rem solid #afb8ff;
}
mat-icon{
  width: 1em;
  height: 1em;
}

.botao-google mat-icon+* {
  margin: auto;
  /* Centraliza o conteúdo de texto */
}

/* Frase de Registrar / Login */

.registrar {
  font-family: var(--fontefrases);
  font-size: .9em;
  margin-bottom: 6px;
}

.links {
  cursor: pointer;
}

.links:hover {
  text-decoration: underline;
}

/*  configuração dos inputs:  */

.infos {
  height: 40%;
  /* Altura da div mãe */
  width: 100%;
  /* Largura total */
  /* border: 1px solid #000;            */
  align-self: center;
  /* Centraliza horizontalmente a div do meio */
  margin: auto;
  /* Centraliza verticalmente entre as divs superior e inferior */

  display: flex;
  /* Ativa o Flexbox */
  flex-direction: column;
  /* Organiza as divs filhas em coluna */
  justify-content: space-between;
  /* Espaço entre as divs filhas */

}

.form-group {

  width: 60%;
  height: 50%;
  /* Largura das divs filhas */
  /* Espaçamento interno, opcional */
  /* Cor de fundo das divs filhas */
  display: flex;
  flex-direction: column;
  /* Ativa o Flexbox */
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: flex-start;
  /* Centraliza verticalmente */
  text-align: center;


}

.bar {
  width: 100%;
  height: 44%;
  align-self: center;
  border-radius: .4em;
  padding: 6px;
  border: none;
  background-color: var(--white5);
  font-size: .7em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="name"]:focus {
  outline: none;
  /* Remove o contorno padrão do navegador */
  border: 1px solid var(--pink);
  /* Define a cor e a espessura da borda ao focar */
  box-shadow: 0 0 3px var(--pink);
  /* Adiciona um efeito de sombra ao redor da borda */
  background-color: var(--white4);
}


#remakepass {
  padding-top: 10px;
  font-size: .85em;
}

label {
  font-size: .8em;
  padding-bottom: 2px;
}

/* Detalhes (Icone + frases) */
.detalhes {
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  text-align: center;
  gap: 5px;

}

.solar--cat-bold {
  width: 75px;
  height: 75px;

}

.frase {
  font-family: var(--fonteteste);
  font-size: 1.6em;

}


  #registerForm>.infos>.form-group>.bar {
  height: 60%;

}


#recover-password {
  background-color: var(--white2);

  p {
    text-align: justify;
    color: #000;
    font-size: 1rem;
  }

  .infos,
  .botoes,
  .detalhes {
    height: 80%;
  }

  .form-group {
    width: 85%;
    height: 100%;
     
    gap: 1rem;
  }

  .infos {
    padding: auto;
  }
  label{
    font-size: 1.2rem;
  }

  input {
    height: 25%;
  }

  h1{
    font-size: 1.5rem;
  }

}

.navbar{
  display: none;
}






@media   (max-width: 760px) {
  .gradient-bg {
      svg {
        display: none;
      }
    .g1 , .g2,.g3,.g4,.g5,.g6,.g7,.interactive {
      display: none;
    }
  }

  .text-container{
    background-color: var(--rosa6);
  }

  form {
    box-shadow: 6px 2px 13px rgba(0, 0, 0, 0.4);
  }
  #myForm,#registerForm{
    width: 80%;
    height: 70%;
  }
  .solar--cat-bold {
 display: none;
  
  }
  .frase{
    font-size: 1rem;
  }

  .detalhes{
    height: 20%;
    width: 100%;
  }
  .botoes {
    /* border: 1px  solid #000; */
    height: 50%;
    width: 100%;
  }

 .form-group{
  
    width: 80%;
  }
  
  button, .botao-google{
    width: 80%;
 

  }

  button, .botao-google, label,#remakepass, .links {
    font-size: 1rem;
  }


}

@media (min-width: 760px) and  (max-width: 920px)  {
  .gradient-bg {
    svg {
      display: none;
    }
  .g1 , .g2,.g3,.g4,.g5,.g6,.g7,.interactive {
    display: none;
  }
}

.text-container{
  background-color: var(--rosa6);
}
form {
  box-shadow: 10px 2px 15px rgba(0, 0, 0, 0.4);

}
#myForm,#registerForm{
  width: 75%;
  height: 70%;

}
.solar--cat-bold {
width: 4rem;
height: 4rem;

}
.frase{
  font-size: 1.3rem;
}

.detalhes{
  height: 20%;
    width: 100%;

}
.botoes {
  /* border: 1px  solid #000; */
  height: 30%;
}

.form-group{
  width: 70%;
}

button, .botao-google{
  width: 80%;


}

button, .botao-google, label,#remakepass, .links {
  font-size: 1.2rem;
}
}

@media (min-width: 920px) and (max-width: 1910px) {
 
  .text-container{
    background-color: var(--rosa6);
  }

  form {
    box-shadow: 6px 2px 13px rgba(0, 0, 0, 0.4);
  }
  #myForm,#registerForm{
    width: 40%;
    height: 70%;
  }
  .solar--cat-bold {
    width: 4rem;
    height: 4rem;
  }
  .frase{
    font-size: 1.5rem;
  }

  .detalhes{
    height: 20%;
    width: 100%;
  }
  .botoes {
    /* border: 1px  solid #000; */
    height: 50%;
    width: 100%;
  }

 .form-group{

    width: 70%;
  }
  
  button, .botao-google{
    width: 80%;
 

  }

  button, .botao-google, label,#remakepass, .links {
    font-size: 1rem;
  }
}

 