@if(currentRoute === '/homelander' ){
<header class="navbar">
  <div class="lfd_logo">
    <mat-icon svgIcon="solar--cat-bold" aria-label="LetterFood logo" />
    <p>LetterFood</p>
  </div>

  <div class="search">
    <mat-icon svgIcon="baseline-search" aria-label="Search icon"  class="lupa"/>
    <input type="text" class="search-bar" placeholder="Pesquisar...">
  </div>

  <div class="celular">
    <mat-icon svgIcon="baseline-search" aria-label="Search icon"  class="lupa2"/>
    <mat-icon svgIcon="solar--cat-bold" aria-label="LetterFood logo" class="gato"/>
    <mat-icon svgIcon="user" aria-label="User icon"  class="perfil"/>
  </div>

  <div class="navi_links">
     
    <a class="links" href="#">Home</a>
    <a class="links" href="#">GitHub</a>

    <button class="header_sign_up_button" (click)="redirectToProfile()"><a>Perfil</a></button>
  </div>
</header>

}
@else if(currentRoute === '/profile'){
<header class="navbar">
  <div class="lfd_logo">
    <mat-icon svgIcon="solar--cat-bold" aria-label="LetterFood logo" />
    <p>LetterFood</p>
  </div>

  <div class="navi_links" [ngClass]="'navprofile'">
    <a class="links" href="#">Home</a>
    <a class="links" href="#">GitHub</a>


  </div>
</header>
}
@else{
<header class="navbar" *ngIf="showHeader">  
  <div class="lfd_logo">
    <mat-icon svgIcon="solar--cat-bold" aria-label="LetterFood logo" />
    <p>LetterFood</p>
  </div>



  <div class="navi_links">
    <a class="links" href="#">Home</a>
    <a class="links" href="#">GitHub</a>

    <button class="header_sign_up_button" (click)="redirectToLogin()"><a>Junte-se</a></button>
  </div>
</header>
}



<router-outlet><router-outlet />