

<!-- Location -->

    <div class="section_container">
        <div class="section_content">
            <div class="info">
                <h1>Busque os melhores restaurantes da região</h1>
                    <button class="sign_up_button" (click)="redirectToLogin()">Começe agora</button>
            </div>
            <div class="search_section_image">
                <mat-icon svgIcon="location-image" aria-label="Pessoa procurando restaurantes bem avaliados na região" />
            </div>
        </div>
    </div>
    
<!-- Discover -->

    <div class="section_container">
        <div class="section_content">
            <div class="discover_section_image">
                <mat-icon svgIcon="tresure-image" aria-label="Pessoa abrindo um baú" />
            </div>
            <div class="info">
                <h1>Descubra novas experiências</h1>
                    <button class="sign_up_button" (click)="redirectToLogin()" >Começe agora</button>
            </div>
        </div>
    </div>

<!-- Rating -->

    <div class="section_container">
        <div class="section_content">
            <div class="info">
                <h1>Avalie os restaurantes que você visitou</h1>
                    <button class="sign_up_button" (click)="redirectToLogin()">Começe agora</button>
            </div>
            <div class="rating_section_image">
                <mat-icon svgIcon="order-food-image" aria-label="Pessoa avaliando um restaurante" />
            </div>
        </div>
    </div>

    <footer>
         
            <div class="lfd_logo_footer" >
                <mat-icon svgIcon="solar--cat-bold" aria-label="LetterFood logo" />
                <p>LetterFood</p>
            </div>
         
       

        <div class="footer_links">
            <div class="home">
                <h3>Inicio</h3>
                <p>Descubra</p>
                <P>Avalie</P>
            </div>

            <div class="about_us">
                <h3>Sobre nós</h3>
                <p>informações da empresa</p>
            </div>

        </div>

        <div class="footer_botoes">
            <button class="footer_sign_up_button" (click)="redirectToLogin()" >Começe agora</button>
            <mat-icon svgIcon="github-icon" aria-label="GitHub logo" />
        </div>
       
    </footer>
