/*  Configurações globais */
* {
    font-family: var(--fontegeral);
}


button {
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: var(--rosa6);


}

button:hover {
    background-color: var(--rosa7);
}



/* header end */

/* images start */

.search_section_image {
    width: 40%;
    height: 100%;

    .mat-icon {
        width: 100%;
        height: 100%;
    }
}

.discover_section_image {
    width: 40%;
    height: 100%;

    .mat-icon {
        width: 100%;
        height: 100%;
    }
}

.rating_section_image {
    width: 40%;
    height: 100%;

    .mat-icon {
        width: 85%;
        height: 85%;
    }
}

/* images end */

/* Content start */

.sign_up_button {
    background-color: var(--blue);
    color: black;
    font-weight: 400;
    width: 23%;
    height: 15%;
    border-radius: 10px;

}

.sign_up_button:hover {
    background-color: var(--blue-dark);
}


.section_container {
    height: 95vh;

}

.section_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-left: 5%;
    padding-right: 3%;


}

.info {
    height: 50%;
    width: 40%;


}

h1 {

    font-size: 4em;
    font-family: var(--fontegeral);
    text-shadow: 1px 1px 1px rgba(56, 18, 48, 0.849);
    margin-bottom: 5%;

}

p {
    font-family: var(--fontefrases);
    font-size: 1.5em;
    text-align: justify;

}

/* Content end */

/* footer start */

footer {
    height: 5.4vh;
    width: 100%;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;





    .footer_links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        width: 50%;
    }

    .about_us,
    .home {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 1rem;

        width: 50%;
    }

    .footer_botoes {

        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 20px;
        align-items: center;
        justify-content: center;

        .footer_sign_up_button {
            width: 35%;
            height: 75%;
            border-radius: 5px;

        }

        .github-icon {

            align-self: center;
        }

    }
}

.lfd_logo_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
    width: 20%;

    .mat-icon {
        height: 110%;
        width: 20%
    }

    p {
        color: var(--rosa6);
        font-size: 1.3em;
        font-weight: bold;
    }
}


 

/* footer end */