<!-- @for (store of storeList; track $index) {
  <store-card [storeInfo]="store" (click)="openModal(store)"/>
} -->
<ng-template cdkPortal>
  <div class="modal">
    <store-details [storeInfo]="this.selectedStore"/>
    <mat-icon svgIcon="close-icon" (click)="closeModal()" class="teste"/>
  </div>
</ng-template>


<div class="home-container">
  
  <br>
  <!-- Outras Seções -->
  <p class="section-title">Comida Japonesa</p>
  <hr />
  <div class="card-list">
    <div class="card" *ngFor="let japanese of storeList.japanese">
      <store-card [storeInfo]="japanese" (click)="openModal(japanese)"/>
    </div>
  </div>

  <p class="section-title">Brasileira</p>
  <hr />
  <div class="card-list">
    <div class="card" *ngFor="let brazilian of storeList.brazilian">
      <store-card [storeInfo]="brazilian" (click)="openModal(brazilian)"></store-card>
    </div>
  </div>
  <p class="section-title">Outros</p>
  <hr />
  <div class="card-list">
    <div class="card" *ngFor="let other of storeList.others">
      <store-card [storeInfo]="other" (click)="openModal(other)"></store-card>
    </div>
  </div>
</div>

