@for (store of storeList; track $index) {
  <store-card [storeInfo]="store" (click)="openModal(store)"/>
}
<ng-template cdkPortal>
  <div class="modal">
    <store-details [storeInfo]="this.selectedStore"/>
    <mat-icon svgIcon="close-icon" (click)="closeModal()" class="teste"/>
  </div>
</ng-template>


<div class="home-container">
  
  <!-- Seção Popular -->
  <p class="section-title">Populares</p>
  <hr />
  <div id="popular" class="card-list">
    <div class="card" *ngFor="let popRestaurant of popRestaurants; let i = index">
      <store-card 
        [restaurant]="popRestaurants" 
        (click)="openModal()">
      </store-card>
    </div>
  </div>

  <!-- Outras Seções -->
  <p class="section-title">Comida Japonesa</p>
  <hr />
  <div class="card-list">
    <div class="card" *ngFor="let restaurant of restaurants">
      <store-card [restaurant]="restaurant" (click)="openModal()"></store-card>
    </div>
  </div>

  <p class="section-title">Comida Chinesa</p>
  <hr />
  <div class="card-list">
    <div class="card" *ngFor="let restaurant of restaurants">
      <store-card [restaurant]="restaurant" (click)="openModal()"></store-card>
    </div>
  </div>

  <p class="section-title">Massas</p>
  <hr />
  <div class="card-list">
    <div class="card" *ngFor="let restaurant of restaurants">
      <store-card [restaurant]="restaurant" (click)="openModal()"></store-card>
    </div>
  </div>
</div>

