<div class="card-container">
  <div class="card-header">
    <div class="info">
      <img
        src="{{review.user.image}}"
        alt=""
      />
      <span class="user-name">{{review.user.username}}</span>
      <div>
        @for (rateNum of getRateIndex(); track $index) {
          <mat-icon svgIcon="review-star" />
        }
      </div>
    </div>
    <p style="text-align: center">{{review.createdOn}}</p>
  </div>
  <div class="card-body">
    <p>{{this.review.comment}}</p>
  </div>
</div>
