<div class="card-container">
  <div class="card-header">
    <div class="info">
      <img
        src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png"
        alt=""
      />
      <span class="user-name">PLACEHOLDER NAME</span>
      <div>
        <mat-icon svgIcon="review-star" />
        <mat-icon svgIcon="review-star" />
        <mat-icon svgIcon="review-star" />
        <mat-icon svgIcon="review-star" />
        <mat-icon svgIcon="review-star" />
      </div>
    </div>
    <p style="text-align: center">01/01/2024</p>
  </div>
  <div class="card-body">
    <p>
      Lorem ipsum dolor sit amet. Cum Cum Cum Cum Cum Cum Cum Cum Cum Cum Cum
      Cum Cum Cumiure consequatur est quia alias eum quod saepe ea molestias
      adipisci.
      Lorem ipsum dolor sit amet. Cum Cum Cum Cum Cum Cum Cum Cum Cum Cum Cum
      Cum Cum Cumiure consequatur est quia alias eum quod saepe ea molestias
      adipisci.
    </p>
  </div>
</div>
