html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
 *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 }


 
 
@font-face {
  font-family: 'GoogleSans-Regular'; /* Nome que você dará para a fonte */
  src: url('app/assets/GoogleSans-Regular.ttf') format('truetype'); /* Caminho para o arquivo da fonte */
  font-weight: normal; /* Ou bold, se for uma fonte negrito */
  font-style: normal; /* Ou italic, se for uma fonte itálica */
}


:root {
  /* Configurações para o Background Login */
  --color-bg1: rgb(255,132,132);
  --color-bg2: rgb(199,140,160);
  --color1: 236,186,208;
  --color2: 255,146,253;
   --color3: 199,140,160;   /*amarelo  */
  --color4: 186,255,201;  /* verde */
  --color5: 255,223,186;  /* laranja */
  --color-interactive: 186,225,255;
  --circle-size: 80%;
  --blending: soft-light;


   /*  Fontes */
  --fontegoogle: " 'GoogleSans-Regular', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
  --fontefrases: " 'Manrope', serif";

  
}
