html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}




@font-face {
  font-family: 'GoogleSans-Regular';
  /* Nome que você dará para a fonte */
  src: url('app/assets/GoogleSans-Regular.ttf') format('truetype');
  /* Caminho para o arquivo da fonte */
  font-weight: normal;
  /* Ou bold, se for uma fonte negrito */
  font-style: normal;
  /* Ou italic, se for uma fonte itálica */
}


:root {
  /* Configurações para o Background Login */
  --color-bg1: rgb(255, 132, 132);
  --color-bg2: rgb(199, 140, 160);
  --color1: 236, 186, 208;
  --color2: 255, 146, 253;
  --color3: 199, 140, 160;
  /*amarelo  */
  --color4: 186, 255, 201;
  /* verde */
  --color5: 255, 223, 186;
  /* laranja */
  --color-interactive: 186, 225, 255;
  --circle-size: 80%;
  --blending: soft-light;


  /*  Fontes */
  --fontegeral: " 'Courier Prime', serif ";
  --fontegoogle: " 'GoogleSans-Regular', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
  --fontefrases: " 'Manrope', serif";



  /* Paleta de cores */
  /* Coquette pink  (na ordem do site) 
  https://www.color-hex.com/color-palette/1039148*/
  --rosa1: 252, 215, 215;
  --rosa2: 255, 225, 237;
  --rosa3: 255, 243, 250;
  --rosa4: 236, 186, 208;
  --rosa5: 199, 140, 160;

  /* Cores de Suporte   (na ordem da imagem do site)
  https://www.color-hex.com/color-palette/5361*/
  --pink: 255, 179, 186;
  --orange: 255, 223, 186;
  --yellow: 255, 255, 186;
  --green: 186, 255, 201;
  --blue: 186, 225, 255;

  /* brancos  (na ordem da img do site)
  https://www.color-hex.com/color-palette/23730
  */
  --white1: #fffff2;
  --white2: #f9f9f9;
  --white3: 	#fffff4;
  --white4: 	#fbf7f5;
  --white5: #f9f1f1;

  /* Cinzas e preto */

  --grey1: 238,238,238;
  --grey2: 221,221,221;
  --grey3: 204,204,204;
  --grey4: 187,187,187;
  --grey5: 163,163,163;


  
}
